<div class="modal-body">



  <mat-card class="example-card">

    <mat-label style="font-weight: bold;">New Request</mat-label>

    <hr style=" color: black; height:1px; margin-bottom: 1%">

    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>anonymous</mat-card-title>
    </mat-card-header>

    <!--img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
    <mat-card-content class="basic-info">

      <mat-form-field>
        <mat-select id="type" placeholder="Request Type">
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label style="font-weight: bold">Description</mat-label>
        <textarea id="desc" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2"
          cdkAutosizeMaxRows="5"></textarea>
      </mat-form-field>



      <div class="image-holder">
        <mat-card-content imagecat>
          <div class="franco image-trim">
            <img [src]="url" class="image-holder"> <br />
          </div>
          <input type='file' (change)="onSelectFile($event)">
        </mat-card-content>
      </div>

      <mat-form-field class="descatt">
        <span matPrefix>+20 &nbsp;</span>
        <input type="tel" matInput id="tele" placeholder="Contact Number">
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>


    </mat-card-content>



    <mat-card-actions class="actions">
      <button mat-raised-button color="primary" (click)="submitRequest($event)">Request</button>
      <button mat-button (click)="onNoClick()">Discard</button>
    </mat-card-actions>

  </mat-card>

</div>